#This is init.asus.rc for user build.

# Custom ROM changes - start
on boot

on init

on charger

# Custom ROM changes - end

on late-init

on post-fs-data

    # ASUS_BSP ultrabatterylife mode
    chmod 0777 /vendor/asdf/CHGLimit
    chmod 0777 /vendor/asdf/CHGLimit_kernel

on fs
    chmod 0770 /vendor/factory
    restorecon_recursive /vendor/factory

    chmod 770 /mnt/vendor/persist
	chmod 770 /mnt/vendor/persist/data

    # We don't use Asus Product Demo, so we don't import that script and just disable charger limit
    write /proc/driver/charger_limit_enable 0

on boot

on charger
    chown system system /vendor/factory
    chmod 0770 /vendor/factory
    chown root root /asdf
    chmod 0775 /asdf
    write /asdf/CHGLimit 0
    write /asdf/CHGLimit_kernel 0
