on boot
    chown system system /sys/devices/soc/c178000.i2c/i2c-4/4-0038/dclick_mode
    chmod 0660 /sys/devices/soc/c178000.i2c/i2c-4/4-0038/dclick_mode

    chown system system /sys/devices/soc/c178000.i2c/i2c-4/4-0038/gesture_mode
    chmod 0660 /sys/devices/soc/c178000.i2c/i2c-4/4-0038/gesture_mode

service touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.X00QD
    class hal
    user system
    group system
